.format_text{
    color:red;
}

@font-face {
    font-family: "nyt-franklin";
    font-style: normal;
    font-weight: 500;
    src: local("☺︎"), url("/fonts/nyt-franklin-500-normal.woff") format("woff");
}